<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.panaderia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lamacarena"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lamacarena_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".ActivityCar"></activity>
        <activity android:name=".ActivityEditCount"></activity>
        <activity android:name=".ActivityCount" /><activity
        android:name=".ActivityProducts"
        android:label="Nuestros Productos"
        android:theme="@style/AppTheme" />
        <activity android:name=".ActivityRegisterClient" />
        <activity android:name=".ActivityRecoverpass" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Login" />
        <activity android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>